/****** Object:  Database [EnterpriseBankingD]    Script Date: 05/09/2026 11:12:11 م ******/
CREATE DATABASE [EnterpriseBankingD]  (EDITION = 'GeneralPurpose', SERVICE_OBJECTIVE = 'GP_S_Gen5_2', MAXSIZE = 32 GB) WITH CATALOG_COLLATION = SQL_Latin1_General_CP1_CI_AS, LEDGER = OFF;
GO
/*** The scripts of database scoped configurations in Azure should be executed inside the target database connection. ***/
GO
-- ALTER DATABASE SCOPED CONFIGURATION SET FULLTEXT_INDEX_VERSION = 2;
GO
-- ALTER DATABASE SCOPED CONFIGURATION SET MAXDOP = 8;
GO
/****** Object:  Schema [dq]    Script Date: 05/09/2026 11:12:11 م ******/
CREATE SCHEMA [dq]
GO
/****** Object:  Schema [gold]    Script Date: 05/09/2026 11:12:11 م ******/
CREATE SCHEMA [gold]
GO
/****** Object:  Table [gold].[fact_loan]    Script Date: 05/09/2026 11:12:11 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [gold].[fact_loan](
	[loan_key] [bigint] IDENTITY(1,1) NOT NULL,
	[loan_id] [int] NOT NULL,
	[customer_key] [bigint] NOT NULL,
	[branch_key] [bigint] NOT NULL,
	[start_date_key] [int] NOT NULL,
	[end_date_key] [int] NULL,
	[loan_type] [nvarchar](50) NOT NULL,
	[principal_amount] [decimal](18, 10) NOT NULL,
	[interest_rate] [float] NOT NULL,
	[loan_term_months] [smallint] NOT NULL,
	[monthly_installment] [decimal](18, 10) NOT NULL,
	[remaining_balance] [decimal](18, 10) NOT NULL,
	[loan_status] [nvarchar](50) NOT NULL,
	[start_date] [date] NOT NULL,
	[end_date] [date] NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NULL,
	[gold_loaded_at] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_fact_loan] PRIMARY KEY CLUSTERED 
(
	[loan_key] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [gold].[dim_account]    Script Date: 05/09/2026 11:12:11 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [gold].[dim_account](
	[account_key] [bigint] NOT NULL,
	[account_id] [int] NOT NULL,
	[customer_id] [int] NOT NULL,
	[branch_id] [int] NOT NULL,
	[account_number] [varchar](50) NOT NULL,
	[account_type] [nvarchar](50) NOT NULL,
	[currency] [varchar](50) NOT NULL,
	[status] [nvarchar](50) NOT NULL,
	[opened_date] [date] NOT NULL,
	[closed_date] [date] NULL,
	[created_at] [smalldatetime] NOT NULL,
	[updated_at] [smalldatetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [gold].[dim_card]    Script Date: 05/09/2026 11:12:11 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [gold].[dim_card](
	[card_key] [bigint] NOT NULL,
	[card_id] [int] NOT NULL,
	[account_id] [int] NOT NULL,
	[card_number] [nvarchar](50) NOT NULL,
	[card_type] [nvarchar](50) NOT NULL,
	[network] [nvarchar](50) NOT NULL,
	[issued_date] [date] NOT NULL,
	[expiry_date] [date] NOT NULL,
	[credit_limit] [decimal](18, 10) NOT NULL,
	[available_limit] [decimal](18, 10) NOT NULL,
	[status] [nvarchar](50) NOT NULL,
	[created_at] [smalldatetime] NOT NULL,
	[updated_at] [smalldatetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [gold].[dim_customer]    Script Date: 05/09/2026 11:12:11 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [gold].[dim_customer](
	[customer_key] [bigint] NOT NULL,
	[customer_id] [int] NOT NULL,
	[first_name] [nvarchar](50) NOT NULL,
	[last_name] [nvarchar](50) NOT NULL,
	[gender] [nvarchar](50) NOT NULL,
	[date_of_birth] [date] NOT NULL,
	[email] [nvarchar](50) NULL,
	[phone] [varchar](50) NULL,
	[national_id] [varchar](50) NOT NULL,
	[city] [nvarchar](50) NOT NULL,
	[country] [nvarchar](50) NOT NULL,
	[occupation] [nvarchar](50) NOT NULL,
	[annual_income] [int] NULL,
	[risk_segment] [nvarchar](50) NOT NULL,
	[valid_from] [smalldatetime] NOT NULL,
	[valid_to] [smalldatetime] NULL,
	[is_current] [bit] NOT NULL,
	[created_at] [smalldatetime] NOT NULL,
	[updated_at] [smalldatetime] NULL
) ON [PRIMARY]
GO
/****** Object:  View [gold].[vw_Customer360]    Script Date: 05/09/2026 11:12:11 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/* ============================================================
   1. Customer 360
   ============================================================ */

CREATE   VIEW [gold].[vw_Customer360]
AS
SELECT
    c.customer_key,
    c.customer_id,
    c.first_name,
    c.last_name,

    LTRIM(RTRIM(
        ISNULL(c.first_name, '') + ' ' + ISNULL(c.last_name, '')
    )) AS full_name,

    c.gender,
    c.date_of_birth,

    CASE
        WHEN c.date_of_birth IS NULL THEN NULL
        ELSE
            DATEDIFF(YEAR, c.date_of_birth, CAST(GETDATE() AS date))
            -
            CASE
                WHEN DATEADD(
                    YEAR,
                    DATEDIFF(YEAR, c.date_of_birth, CAST(GETDATE() AS date)),
                    c.date_of_birth
                ) > CAST(GETDATE() AS date)
                THEN 1
                ELSE 0
            END
    END AS age,

    c.email,
    c.phone,
    c.national_id,
    c.city,
    c.country,
    c.occupation,
    c.annual_income,
    c.risk_segment,
    c.valid_from,
    c.valid_to,
    c.is_current,
    c.created_at,
    c.updated_at,

    ISNULL(a.total_accounts, 0) AS total_accounts,
    ISNULL(cd.total_cards, 0) AS total_cards,
    ISNULL(l.total_loans, 0) AS total_loans,
    ISNULL(l.total_principal_amount, 0) AS total_principal_amount,
    ISNULL(l.total_remaining_balance, 0) AS total_remaining_balance

FROM gold.dim_customer c

LEFT JOIN
(
    SELECT
        customer_id,
        COUNT(*) AS total_accounts
    FROM gold.dim_account
    GROUP BY customer_id
) a
    ON c.customer_id = a.customer_id

LEFT JOIN
(
    SELECT
        a.customer_id,
        COUNT(*) AS total_cards
    FROM gold.dim_card cd
    INNER JOIN gold.dim_account a
        ON cd.account_id = a.account_id
    GROUP BY a.customer_id
) cd
    ON c.customer_id = cd.customer_id

LEFT JOIN
(
    SELECT
        customer_key,
        COUNT(*) AS total_loans,
        SUM(ISNULL(principal_amount, 0)) AS total_principal_amount,
        SUM(ISNULL(remaining_balance, 0)) AS total_remaining_balance
    FROM gold.fact_loan
    GROUP BY customer_key
) l
    ON c.customer_key = l.customer_key

WHERE c.is_current = 1;
GO
/****** Object:  Table [gold].[dim_date]    Script Date: 05/09/2026 11:12:11 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [gold].[dim_date](
	[date_key] [int] NOT NULL,
	[full_date] [date] NOT NULL,
	[day_number] [int] NOT NULL,
	[day_name] [nvarchar](20) NOT NULL,
	[week_number] [int] NOT NULL,
	[month_number] [int] NOT NULL,
	[month_name] [nvarchar](20) NOT NULL,
	[quarter_number] [int] NOT NULL,
	[quarter_name] [nvarchar](10) NOT NULL,
	[year_number] [int] NOT NULL,
	[is_weekend] [bit] NOT NULL,
 CONSTRAINT [PK_dim_date] PRIMARY KEY CLUSTERED 
(
	[date_key] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [gold].[dim_branch]    Script Date: 05/09/2026 11:12:11 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [gold].[dim_branch](
	[branch_key] [bigint] NOT NULL,
	[branch_id] [int] NOT NULL,
	[branch_code] [nvarchar](50) NOT NULL,
	[branch_name] [nvarchar](50) NOT NULL,
	[city] [nvarchar](50) NOT NULL,
	[region] [nvarchar](50) NOT NULL,
	[manager_name] [nvarchar](50) NOT NULL,
	[phone] [nvarchar](50) NOT NULL,
	[opened_date] [date] NOT NULL,
	[status] [nvarchar](50) NOT NULL,
	[created_at] [smalldatetime] NOT NULL,
	[updated_at] [smalldatetime] NULL
) ON [PRIMARY]
GO
/****** Object:  View [gold].[vw_LoanPortfolio]    Script Date: 05/09/2026 11:12:11 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/* ============================================================
   2. Loan Portfolio
   ============================================================ */

CREATE   VIEW [gold].[vw_LoanPortfolio]
AS
SELECT
    l.loan_key,
    l.loan_id,

    l.customer_key,
    c.customer_id,
    LTRIM(RTRIM(
        ISNULL(c.first_name, '') + ' ' + ISNULL(c.last_name, '')
    )) AS customer_name,
    c.risk_segment,

    l.branch_key,
    b.branch_id,
    b.branch_name,
    b.city,
    b.region,

    l.loan_type,
    l.principal_amount,
    l.interest_rate,
    l.loan_term_months,
    l.monthly_installment,
    l.remaining_balance,
    l.loan_status,

    l.start_date,
    l.end_date,

    ds.year_number AS loan_start_year,
    ds.month_name AS loan_start_month,

    l.created_at,
    l.updated_at

FROM gold.fact_loan l

LEFT JOIN gold.dim_customer c
    ON l.customer_key = c.customer_key
   AND c.is_current = 1

LEFT JOIN gold.dim_branch b
    ON l.branch_key = b.branch_key
   AND b.status IS NOT NULL

LEFT JOIN gold.dim_date ds
    ON l.start_date_key = ds.date_key;
GO
/****** Object:  Table [gold].[fact_transaction]    Script Date: 05/09/2026 11:12:11 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [gold].[fact_transaction](
	[transaction_key] [bigint] IDENTITY(1,1) NOT NULL,
	[transaction_id] [int] NOT NULL,
	[account_key] [bigint] NOT NULL,
	[customer_key] [bigint] NULL,
	[branch_key] [bigint] NULL,
	[date_key] [int] NOT NULL,
	[transaction_date] [date] NOT NULL,
	[transaction_type] [nvarchar](50) NOT NULL,
	[amount] [decimal](18, 10) NOT NULL,
	[currency] [nvarchar](50) NOT NULL,
	[merchant_name] [nvarchar](50) NULL,
	[merchant_category] [nvarchar](50) NULL,
	[channel] [nvarchar](50) NOT NULL,
	[status] [nvarchar](50) NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NULL,
	[gold_loaded_at] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_fact_transaction] PRIMARY KEY CLUSTERED 
(
	[transaction_key] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [gold].[vw_BranchPerformance]    Script Date: 05/09/2026 11:12:11 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/* ============================================================
   3. Branch Performance
   ============================================================ */

CREATE   VIEW [gold].[vw_BranchPerformance]
AS
SELECT
    b.branch_key,
    b.branch_id,
    b.branch_code,
    b.branch_name,
    b.city,
    b.region,
    b.manager_name,
    b.phone,
    b.opened_date,
    b.status,

    ISNULL(a.active_accounts, 0) AS active_accounts,

    ISNULL(l.total_loans_issued, 0) AS total_loans_issued,
    ISNULL(l.total_loan_volume, 0) AS total_loan_volume,
    ISNULL(l.total_remaining_balance, 0) AS total_remaining_balance,

    ISNULL(t.total_transactions, 0) AS total_transactions,
    ISNULL(t.total_transaction_volume, 0) AS total_transaction_volume

FROM gold.dim_branch b

LEFT JOIN
(
    SELECT
        branch_id,
        COUNT(*) AS active_accounts
    FROM gold.dim_account
    WHERE status = 'Active'
    GROUP BY branch_id
) a
    ON b.branch_id = a.branch_id

LEFT JOIN
(
    SELECT
        branch_key,
        COUNT(*) AS total_loans_issued,
        SUM(ISNULL(principal_amount, 0)) AS total_loan_volume,
        SUM(ISNULL(remaining_balance, 0)) AS total_remaining_balance
    FROM gold.fact_loan
    GROUP BY branch_key
) l
    ON b.branch_key = l.branch_key

LEFT JOIN
(
    SELECT
        branch_key,
        COUNT(*) AS total_transactions,
        SUM(ISNULL(amount, 0)) AS total_transaction_volume
    FROM gold.fact_transaction
    GROUP BY branch_key
) t
    ON b.branch_key = t.branch_key;
GO
/****** Object:  Table [gold].[fact_customer_campaign]    Script Date: 05/09/2026 11:12:11 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [gold].[fact_customer_campaign](
	[customer_campaign_key] [bigint] IDENTITY(1,1) NOT NULL,
	[customer_campaign_id] [int] NOT NULL,
	[customer_key] [bigint] NOT NULL,
	[campaign_key] [bigint] NOT NULL,
	[date_key] [int] NOT NULL,
	[contact_date] [date] NOT NULL,
	[channel] [nvarchar](50) NOT NULL,
	[response_status] [nvarchar](50) NOT NULL,
	[conversion_flag] [tinyint] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NULL,
	[gold_loaded_at] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_fact_customer_campaign] PRIMARY KEY CLUSTERED 
(
	[customer_campaign_key] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [gold].[dim_campaign]    Script Date: 05/09/2026 11:12:11 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [gold].[dim_campaign](
	[campaign_key] [bigint] NOT NULL,
	[campaign_id] [int] NOT NULL,
	[campaign_name] [nvarchar](50) NOT NULL,
	[campaign_type] [nvarchar](50) NOT NULL,
	[target_segment] [nvarchar](50) NOT NULL,
	[channel] [nvarchar](50) NOT NULL,
	[budget] [int] NOT NULL,
	[start_date] [date] NOT NULL,
	[end_date] [date] NOT NULL,
	[status] [nvarchar](50) NOT NULL,
	[created_at] [smalldatetime] NOT NULL,
	[updated_at] [smalldatetime] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  View [gold].[vw_CampaignPerformance]    Script Date: 05/09/2026 11:12:11 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/* ============================================================
   4. Campaign Performance
   ============================================================ */

CREATE   VIEW [gold].[vw_CampaignPerformance]
AS
SELECT
    cmp.campaign_key,
    cmp.campaign_id,
    cmp.campaign_name,
    cmp.campaign_type,
    cmp.target_segment,
    cmp.channel,
    cmp.budget,
    cmp.start_date,
    cmp.end_date,
    cmp.status,

    COUNT(DISTINCT fcc.customer_campaign_key)
        AS total_targeted_customers,

    SUM(
        CASE
            WHEN fcc.response_status IS NOT NULL
             AND LTRIM(RTRIM(fcc.response_status)) <> ''
            THEN 1
            ELSE 0
        END
    ) AS total_responded,

    SUM(
        CASE
            WHEN fcc.conversion_flag = 1
            THEN 1
            ELSE 0
        END
    ) AS total_conversions,

    CAST(
        SUM(
            CASE
                WHEN fcc.response_status IS NOT NULL
                 AND LTRIM(RTRIM(fcc.response_status)) <> ''
                THEN 1
                ELSE 0
            END
        ) * 100.0
        /
        NULLIF(
            COUNT(DISTINCT fcc.customer_campaign_key),
            0
        )
        AS DECIMAL(5,2)
    ) AS response_rate_pct,

    CAST(
        SUM(
            CASE
                WHEN fcc.conversion_flag = 1
                THEN 1
                ELSE 0
            END
        ) * 100.0
        /
        NULLIF(
            COUNT(DISTINCT fcc.customer_campaign_key),
            0
        )
        AS DECIMAL(5,2)
    ) AS conversion_rate_pct

FROM gold.dim_campaign cmp

LEFT JOIN gold.fact_customer_campaign fcc
    ON cmp.campaign_key = fcc.campaign_key

GROUP BY
    cmp.campaign_key,
    cmp.campaign_id,
    cmp.campaign_name,
    cmp.campaign_type,
    cmp.target_segment,
    cmp.channel,
    cmp.budget,
    cmp.start_date,
    cmp.end_date,
    cmp.status;
GO
/****** Object:  View [gold].[vw_TransactionAnalytics]    Script Date: 05/09/2026 11:12:11 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/* ============================================================
   5. Transaction Analytics
   ============================================================ */

CREATE   VIEW [gold].[vw_TransactionAnalytics]
AS
SELECT
    t.transaction_key,
    t.transaction_id,

    t.account_key,
    a.account_id,
    a.account_number,
    a.account_type,
    a.currency AS account_currency,

    t.customer_key,
    c.customer_id,
    LTRIM(RTRIM(
        ISNULL(c.first_name, '') + ' ' + ISNULL(c.last_name, '')
    )) AS customer_name,
    c.risk_segment,

    t.branch_key,
    b.branch_id,
    b.branch_name,
    b.region,

    t.date_key,
    t.transaction_date,

    t.transaction_type,
    t.amount,
    t.currency,
    t.merchant_name,
    t.merchant_category,
    t.channel,
    t.status,

    d.day_name AS transaction_day,
    d.month_name AS transaction_month,
    d.month_number AS transaction_month_number,
    d.year_number AS transaction_year,
    d.quarter_number AS transaction_quarter,

    t.created_at,
    t.updated_at

FROM gold.fact_transaction t

LEFT JOIN gold.dim_account a
    ON t.account_key = a.account_key

LEFT JOIN gold.dim_customer c
    ON t.customer_key = c.customer_key
   AND c.is_current = 1

LEFT JOIN gold.dim_branch b
    ON t.branch_key = b.branch_key

LEFT JOIN gold.dim_date d
    ON t.date_key = d.date_key;
GO
ALTER TABLE [gold].[dim_customer] ADD  DEFAULT ((1)) FOR [is_current]
GO
ALTER TABLE [gold].[dim_customer] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [gold].[fact_customer_campaign] ADD  CONSTRAINT [DF_fact_customer_campaign_gold_loaded_at]  DEFAULT (sysdatetime()) FOR [gold_loaded_at]
GO
ALTER TABLE [gold].[fact_loan] ADD  CONSTRAINT [DF_fact_loan_gold_loaded_at]  DEFAULT (sysdatetime()) FOR [gold_loaded_at]
GO
ALTER TABLE [gold].[fact_transaction] ADD  CONSTRAINT [DF_fact_transaction_gold_loaded_at]  DEFAULT (sysdatetime()) FOR [gold_loaded_at]
GO
